body {
    background: rgb(202, 201, 201);
}

#all {
    margin-top: 30px;
    height: 600px;
    background: white;
}

#logo img {
    width: 200px;
    height: 50px;
}

#logo {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#input {
    padding-left: 20px;
}

#input input {
    padding: 4px;
    padding-left: 20px;
    width: 370px;
    font-size: 19px;
    background: rgb(175, 174, 174);
    border: none;
    color: black;
    border-radius: 4px;
    /* box-shadow: 1px 2px 1px black; */
}

#check {
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 400px;
}

#check button {
    background: rgb(22, 75, 22);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    width: 170px;
    font-size: 15px;  
    margin-right: 12px;  
}

#but span {
    font-weight: bold;
}

#all footer {
    padding-left: 20px;
    color: rgb(158, 155, 155)
}

#all footer>span {
    text-decoration: underline;
}

.foo {
    /* margin-left: 580px; */
    /* display: flex; */
    /* justify-content: right; */
    text-align: right;
}

#for {
    display: flex;
    justify-content: space-between;
}

#empty img {
    width: 430px;
    padding-left: 100px;
    
}